<template name="cms_home">

	<div class="navigation-bar">

    <button type="button" class="btn btn-default" data-toggle="offcanvas">
        <i class="fa fa-bars"></i>
    </button>

		<span class="navigation-title dropdown">
			{{_ "Steedos CMS"}}
		</span>
		<div class="pull-right">
			
		</div>
	</div>
	<div class="content cms">

       
<!--       <div class="cell">
          <div class="bd">
                <div class="weui_cells weui_cells_access">
                    {{#each cms_sites}}
                        <a class="weui_cell navigation" href="/cms/{{_id}}">
                            <div class="weui_cell_hd"><i class="ion ion-ios-world-outline"></i></div>
                            <div class="weui_cell_bd weui_cell_primary">
                              &nbsp;{{name}}
                            </div>
                            <div class="weui_cell_ft">
                            </div>
                        </a>
                    {{/each}}
                </div>
          </div>
      </div> -->

    <!-- <h3>{{_ "cms_label_space_blogs"}}</h3> -->
    <div class="row">
      {{#each cms_sites}}
        <div class="col-sm-4 border-right">
          <a class="navigation" href="/cms/{{_id}}">
          <div class="box box-widget widget-site">
            <div class="widget-site-header bg-aqua-active" style="background: url('/api/files/avatars/{{cover}}') center center;">
              <h3 class="widget-site-username">
                <i class="ion ion-ios-world-outline"></i> {{SpaceName}}
              </h3>
            </div>
            <div class="widget-site-image">
              <img class="img-circle" src="/avatar/cms_sites/{{_id}}" alt="{{name}}">
            </div>
            <div class="box-footer">
              <h3 class="widget-site-name">{{name}}</h3>
              <h5 class="widget-site-desc">{{description}}</h5>
              
            </div>
          </div>
          </a>
        </div>
      {{/each}}
    </div>

	</div>
</template>