<template name="cms_site_post">

	<div class="navigation-bar">

		<a href="/cms" class="btn btn-default" title='{{_ "Steedos"}}'>
			<i class="ion ion-chevron-left"></i><span></span>
		</a>

		<span class="navigation-title dropdown">
			<span>{{Site.name}}</span>
		</span>
		<div class="pull-right">
			{{#if PostCanEdit}}
		        <a class="btn btn-primary" href="/admin/edit/cms_posts/{{Post._id}}">{{_ "cms_button_edit"}}</a>
			{{/if}}
		</div>
	</div>

	<div class="content cms post">

		<div class="row">

			<div class="col-md-12">
   				{{#with Post}}
			    <div class="box box-widget">
			        <div class="box-header with-border">
			          <div class="user-block">
			            <img class="img-circle" src="{{absoluteUrl}}avatar/{{created_by}}" alt="User Image">
			            <span class="username">{{title}}
			            </span>
			            <span class="description">{{author_name}} - {{fromNow modified}}</span>
			          </div>
			          <div class="box-tools">

			            <!-- <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
			              <i class="fa fa-circle-o"></i></button>
			            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			            </button>
			            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
			          </div>
			        </div>
			        <div class="box-body">
						<!-- {{#if PostImage _id}}
			                <img class="img-responsive pad" src="/api/files/posts/{{PostImage _id}}" alt="Photo">
			            {{/if}} -->  

						{{{Markdown body}}}
						
						<div class="row">
						{{#each PostImages}}
							<a href="{{absoluteUrl}}api/files/posts/{{_id}}/{{original.name}}" class="swipebox" title="{{original.name}}">
								<img class="img-responsive pad" src="{{absoluteUrl}}api/files/posts/{{_id}}/{{original.name}}" alt="{{original.name}}">
							</a>
						{{/each}}
						</div>
			          <!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
			          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
			          <span class="pull-right text-muted">127 likes - 3 comments</span> -->
			        </div>
			        <div class="box-footer">
          				<ul>
						{{#each PostAttachments}}
							<li><a href="#" class="post-attachment" title="{{original.name}}">{{original.name}}
							</a></li>
						{{/each}}
          				</ul>
			        </div>
			    </div>
			    {{/with}}
			</div>
		</div>
	</div>
    
</template>