<template name="cms_site_post">

	{{> cms_site_header}}

	<div class="cms content">

		<div class="row">

			<div class="col-md-8">
   				{{#with Post}}
			    <div class="box box-widget">
			        <!-- <div class="box-header with-border">
			          <div class="user-block">
			            <img class="img-circle" src="{{absoluteUrl}}avatar/{{created_by}}" alt="User Image">
			            <span class="username">{{author_name}}
			            </span>
			            <span class="description">{{fromNow modified}}</span>
			          </div>
			          <div class="box-tools">
			          	<button type="button" class="btn btn-transparent" title="Preview" id="post-preview">
			              <i class="ion ion-ios-upload-outline"></i></button>
			            
			          </div>
			        </div> -->
			        <div class="box-body">
						<!-- {{#if PostImage _id}}
			                <img class="img-responsive pad" src="/api/files/posts/{{PostImage _id}}" alt="Photo">
			            {{/if}} -->  
			            
						<p class="post-title">
							<B>{{title}}</B>
						</p>
				        <p class="post-date">{{author_name}} {{fromNow postDate}}</p>

						<div class="post-body">
							{{#if htmlBody}}
								<p>{{SafeString htmlBody}}</p>
							{{else}}
								<p>{{Markdown body}}</p>
							{{/if}}
						</div>
						
						<div class="post-images">
						{{#each PostImages}}
							<a href="{{absoluteUrl}}api/files/posts/{{_id}}/{{original.name}}" class="swipebox" title="{{original.name}}" style="background-image: url('{{absoluteUrl}}api/files/posts/{{_id}}/{{original.name}}')">
							</a>
						{{/each}}
						</div>
			          <!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
			          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
			          <span class="pull-right text-muted">127 likes - 3 comments</span> -->
			        </div>
			        {{#if PostAttachmentsCount}}
			        <div class="box-footer">
          				<ul>
						{{#each PostAttachments}}
							<li><a href="#" class="post-attachment" title="{{original.name}}">{{#if original.name}}{{original.name}}{{else}}{{_id}}{{/if}}
							</a></li>
						{{/each}}
          				</ul>
			        </div>
			        {{/if}}
			    </div>
			    {{/with}}
			</div>

			<div class="col-sm-4">
				{{> cms_site_menu}}
			</div>

		</div>
	</div>
    
</template>